.h{
    text-align: center;
    margin-top: 25px;
    color: #FFD129;
}
nav input{
    width: 80%;
    padding: 5px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin-left: 120px;
    margin-top: 20px;
}
nav button{
    width: 5%;
    padding: 8px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #0D6EFD;
}
.ace img{
    width: 32%;
    border-radius: 10px;
}
.ace{
    margin-top: 15px;
}
.ia2,.ia4{
    margin-left: 20px;
}
.ia4{
    margin-top: 20px;
}
.ac{
    display: flex;
}
.content{
    margin-top: 20px;
    font-size: 20px;
    margin-left: -280px;
}
li{
    margin-top: 20px;
}
.ac{
    margin-top: 50px;
    width: 85.5%;
    margin-left: 120px;
    border-radius: 5px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    background-color: #FFF7D9;
}
.develop{
    display: flex;
}
.develop{
    margin-top: 30px;
    margin-left: 120PX;  
    width: 85.5%; 
    border-radius: 5px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    background-color: #FFF7D9;
}
.list1 li{
    font-size: 20px;
    margin-top: 20px;
    margin-left: 20px;
    width: 600px;
}
.img-card2 img{
    width: 48.2%;
    border-radius: 10px;
}
.card10{
    padding: 10px;
    margin-top: px;
}
.ib2,.ib4{
    margin-left: 20px;
}
.list1{
    margin-top: 70px;
}
.ib4{
    height: 160px;
    margin-top: 15px;
}
.ib3{
    height: 160px;
    margin-top: 15px;
    margin-left: -10px;
}
.ib2{
    height: 190px;
}
.ib1{
    margin-left: -10px;
}
.ace1 img{
    width: 23%;
    border-radius: 10px;
    margin: 18px;
    margin-top:13px;
}
.ac{
    display: flex;
    margin-top: 50px;
    width: 85.5%;
    height: 420px;
    margin-left: 120px;
    border-radius: 5px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    background-color: #FFF7D9;
}
.content1 li{
    font-size: 20px;
    margin-left: -620px;
}
.content1{
    margin-top: 40px;
}
.c4{
    width: ;
    height: 190px;
}
.c3 img,.c4 img{
    margin-top: -10px;
}
.village{
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
    color: red;
}
.img-card3 img{
    width: 46%;
    border-radius: 10px;
}
.id2{
    margin-left: 20px;
    height: 160px;
}
.id4{
    margin-left: 20px;
    height: 170px;
}
.id3{
    height: 170px;
    margin-left: 20px;
}
.id1{
    margin-left: 20px;
}
.id3,.id4{
    margin-top: 20px;
}
.development{
    display: flex;
}
.development{
    margin-top: 30px;
    margin-left: 120PX;  
    width: 85.5%; 
    border-radius: 5px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    background-color: #FFF7D9;
}
.list2 li{
    font-size: 20px;
    margin-top: 20px;
    margin-left: 20px;
    width: 600px;
}
.msme1{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-top: 30px;
    color: red;
}
.msme-park img{
    width: 37%;
    height: 170px;
    border-radius: 10px;

}
.msme-park{
    margin-top: 15px;
}
.ie2,.ie4{
    margin-left: 20px;
}
.ie4{
    margin-top: 20px;
}
.msme{
    display: flex;
}
.msme-park1{
    margin-top: 15px;
    font-size: 20px;
    margin-left: -150px;
}
.msme{
    margin-top: 30px;
    width: 85.5%;
    margin-left: 120px;
    border-radius: 5px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    background-color: #FFF7D9;
}
.ie2 {
    margin-top: -200px;
   margin-left: 340px;
}
.ie1{
    margin-left: 20px;
}
.ie4,.ie5{
    margin-top: -5px;
}
.login{
    height: 2450px;
    background-color: #FFF7D9;
}
.img3{
    display: flex;
    align-items: center;
    background-color: black;
}
.img4 img{
    width: 70%;
    margin-top: 5px;
    margin-left: 50px;
}
.link span{
    font-size: 30px;
    margin-left: 20px;  
}
.img5{
    margin-left: 830px;
}





